html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#contents {
  height: 100%;
  display: flex;
}


// 時間表示
#clock_area {
  background-color: #d6c6af;
  height: 100%;
  width: calc(100%/3*2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#date_area {
  background-color: lightyellow;
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time_area {
  background-color: #b9d08b;
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time-bar {
  width: 500px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#time_line {
  background-color: #dcd6d9;
  height: 50px;
  width: 500px;
}

.time-font {
  font-size: 10px;
}

#passed {
  background-color: #f19d54;
  height: 100%;
}

#plans_area {
  background-color: antiquewhite;
  height: 100%;
  width: calc(100%/3);
}
// 時間表示


// TO DO リスト
* {
  box-sizing: border-box;
}

#todo_area {
  padding: 10px;
  height: 90%;
}

#todo_form {
  background-color: navajowhite;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  text-align: center;
}

.text-form {
  padding: 5px;
  width: 65%;
  margin-right: 20px;
  background-color: ivory;
  border: none;
}

.submit-btn {
  border: none;
  background-color: ivory;
  padding: 5px 10px;
  font-size: 12px;
}

.todo-list {
  background-color: tan;
  list-style: none;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.delete-btn {
  text-decoration: none;
  color: #8b7e6b;
  font-size: 16px;
}

// TO DO 機能
.todo[data-done="true"] {
  text-decoration: line-through;
}

.todo[data-done="false"] {
  text-decoration: none;
}
// TO DO 機能
// TO DO リスト