<div id="clock_area">
  <div id="date_area">
    date area
  </div>
  <div id="time_area">
    time area
  </div>
  <div id="show_hours">
    <div>0</div>
    <div>12</div>
    <div>24</div>
  </div>
  <div id="time_line">
    <div id="passed">
    </div>
  </div>
</div>